*{
    box-sizing: border-box;
    font-size: 20px;
}
.reaction{
    margin:50px auto;
    width: 600px;
    height: 100px;
    background: mediumpurple;
}
.reaction__inner{
    color:black;
    text-align: center;
}


.reaction__link{
     text-decoration: none;
     color:black;
    text-align: center;


 }
.reaction__link-text{
    display: inline-block;
}